<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Client" value="http://localhost:21021" />
    <add key="LoginUser" value="admin" />
    <add key="LoginPass" value="123qwe" />
  </appSettings>
</configuration>